#!/usr/bin/env python
PACKAGE = "mppi_cuda_node"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Define your parameters
gen.add("horizon", int_t, 0, "Horizon length for MPC", 30, 1, 100)
gen.add("dt", double_t, 0, "Time discretization", 0.01, 0.001, 0.1)
gen.add("max_force", double_t, 0, "Maximum force", 10.0, 0.0, 50.0)
gen.add("max_torque", double_t, 0, "Maximum torque", 1.0, 0.0, 10.0)
gen.add("control_weight", double_t, 0, "Control weight", 0.2, 0.0, 1.0)
gen.add("tracking_weight_pos", double_t, 0, "Position tracking weight", 50, 0, 100)
gen.add("tracking_weight_vel", double_t, 0, "Velocity tracking weight", 3, 0, 10)
gen.add("tracking_weight_att", double_t, 0, "Attitude tracking weight", 10, 0, 50)
gen.add("tracking_weight_ang_vel", double_t, 0, "Angular velocity tracking weight", 0.1, 0, 1)
gen.add("smoothness_weight", double_t, 0, "Smoothness weight", 0.05, 0, 1)

# Start a group (this forces the generation of a proper config class)
# gen.start_group("Default", "Default", 0)
# (Optionally, add group-specific parameters here)
# gen.end_group()

exit(gen.generate(PACKAGE, "mppi_cuda_node", "MPCParams"))
