#!/usr/bin/env python
PACKAGE = "mppi_cuda_node"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Scalar parameters
gen.add("dt", double_t, 0, "Time step for MPPI", 0.2, 0.01, 1.0)
gen.add("goal_tolerance", double_t, 0, "Goal tolerance", 0.001, 0.0001, 0.1)
gen.add("dist_weight", double_t, 0, "Distance weight", 2000, 100, 10000)
gen.add("lambda_weight", double_t, 0, "Lambda weight", 10, 0.1, 100)
gen.add("num_opt", int_t, 0, "Number of optimal controls", 6, 1, 20)

# u_std: 6 elements (for the 6 control dimensions)
gen.add("u_std_fx", double_t, 0, "Standard deviation for control 0", 0.5, 0.0, 10.0)
gen.add("u_std_fy", double_t, 0, "Standard deviation for control 1", 0.5, 0.0, 10.0)
gen.add("u_std_fz", double_t, 0, "Standard deviation for control 2", 0.5, 0.0, 10.0)
gen.add("u_std_mx", double_t, 0, "Standard deviation for control 3", 0.005, 0.0, 1.0)
gen.add("u_std_my", double_t, 0, "Standard deviation for control 4", 0.005, 0.0, 1.0)
gen.add("u_std_mz", double_t, 0, "Standard deviation for control 5", 0.005, 0.0, 1.0)

# weights: 17 elements (adjust the limits as appropriate)
gen.add("weights_x",  double_t, 0, "Weight 0", 5500, 0, 10000)
gen.add("weights_y",  double_t, 0, "Weight 1", 5500, 0, 10000)
gen.add("weights_z",  double_t, 0, "Weight 2", 3400, 0, 10000)
gen.add("weights_vx",  double_t, 0, "Weight 3", 1, 0, 1000)
gen.add("weights_vy",  double_t, 0, "Weight 4", 1, 0, 1000)
gen.add("weights_vz",  double_t, 0, "Weight 5", 10, 0, 1000)
gen.add("weights_roll",  double_t, 0, "Weight 6", 800, 0, 10000)
gen.add("weights_pitch",  double_t, 0, "Weight 7", 800, 0, 10000)
gen.add("weights_yaw",  double_t, 0, "Weight 8", 800, 0, 10000)
gen.add("weights_wx",  double_t, 0, "Weight 9", 100, 0, 1000)
gen.add("weights_wy", double_t, 0, "Weight 10", 100, 0, 1000)
gen.add("weights_wz", double_t, 0, "Weight 11", 100, 0, 1000)
gen.add("weights_cf", double_t, 0, "Weight 12", 1, 0, 100)
gen.add("weights_cm", double_t, 0, "Weight 13", 100, 0, 1000)
gen.add("weights_sf", double_t, 0, "Weight 14", 1, 0, 100)
gen.add("weights_sm", double_t, 0, "Weight 15", 100, 0, 1000)
gen.add("weights_term", double_t, 0, "Weight 16", 3000, 0, 10000)

exit(gen.generate(PACKAGE, "mppi_cuda_node", "MPPIParams"))
